<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugarcane Disease Prediction</title>
    <link rel="stylesheet" href="/static/land.css">
</head>
<body>
    <div class="front-page">
        <h1 class="main-title">Sugarcane<br>Disease Predictor</h1>
        <button class="continue-button" onclick="redirectToIndex()">Continue</button>
    </div>
    <footer>
        <h3 class="slogan">Safeguarding Crop Health</h3>
    </footer>

    <script>
        function redirectToIndex() {
            window.location.href = "/index";
        }
    </script>
</body>
</html>
